# use this file as a template
# create a new file with the name ".env"
# copy the below template and change the values to the correct info
# the new file ".env" is already hidden with the .gitignore

# DATABASE INFO
MONGO_INITDB_ROOT_USERNAME = example
MONGO_INITDB_ROOT_PASSWORD = example

# Test database
MONGO_URI= example

# # Google OAuth
GOOGLE_CLIENT_ID= example
GOOGLE_CLIENT_SECRET= example


#Next auth
NEXTAUTH_URL = example
NEXTAUTH_SECRET = example

#openAI api
OPEN_AI_API_KEY = example