@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors theme (?) */
/* CSS HEX
--seal-brown: #422006ff;
--linen: #f9ebe0ff;
--brunswick-green: #294936ff;
--feldgrau: #3e6259ff;
--viridian: #5b8266ff; */

@layer utilities {
	@variants responsive {
		/* Hide scrollbar for Chrome, Safari and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}
