@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors theme (?) */
/* CSS HEX
--seal-brown: #422006ff;
--linen: #f9ebe0ff;
--brunswick-green: #294936ff;
--feldgrau: #3e6259ff;
--viridian: #5b8266ff; */
